    .mail-app {
        display: flex;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    hr {
        border-width: 0.5px;
    }
    
    button {
        outline: none;
    }
    
    input {
        outline: none
    }
    
    .mail-app {
        max-width: 1400px;
    }
    
    i.fa-bars {
        display: none;
    }
    
    .toolbar {
        display: flex;
        justify-content: flex-start;
        border-bottom: solid rgb(146, 151, 126) 1px;
    }
    
    .subject-title {
        font-size: 1.7rem;
    }
    
    .sent-time {
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    
    .sender-details {
        font-weight: bold;
        font-size: 1.1rem;
    }
    
    .toolbar>* {
        margin-left: 15px;
    }
    
    .mails-container {
        width: 80%;
    }
    
    .mail-body {
        overflow-wrap: break-word;
        padding: 10px;
    }
    
    .ans-btn {
        width: 100px;
    }
    
    .mail-prev {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid rgb(146, 151, 126) 1px;
        color: #202124;
        background-color: rgba(255, 252, 255, 0.902);
        font-weight: bold;
    }
    
    .favorite-mark i {
        padding-right: 10px;
        margin-left: 5px;
    }
    
    .fa-trash-alt {
        margin-right: 10px;
    }
    
    .garbe:hover {
        color: red;
    }
    
    .preview-line :hover {
        background-color: rgba(240, 240, 250, 0.902);
    }
    
    .read-mail-prev {
        background-color: rgba(245, 240, 245, 0.93);
        font-weight: normal;
    }
    
    .logo {
        width: 80px;
        height: 80px;
        margin-left: 35px;
        margin-top: 10px;
        opacity: 0.7;
    }
    
    .favorite-mark {
        display: flex;
    }
    
    .mail-prev .favorite-mark {
        width: 15%;
    }
    
    .mail-budy-prev-txt {
        display: flex;
        flex-grow: 1;
    }
    
    .mail-prev .data-sent {
        display: flex;
        width: 15%;
    }
    
    .mail-prev p {
        align-self: center;
    }
    
    .mail-prev i {
        align-self: center;
    }
    
    .side-menu {
        width: 15%;
        height: 100vh;
        background-color: rgba(255, 252, 255, 0.902);
    }
    
    .side-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30%
    }
    
    .modal-wrapper {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 5;
        box-sizing: border-box
    }
    .modal-content {
        background: white;
        max-width: 60%;
        min-width: 50%;
        height: 500px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        position: relative;
    }
    
    .hide {
        display: none;
    }
    
    #comp {
        margin-top: 5px;
        width: 96%;
        height: 370px;
        margin: auto;
        border: none;
    }
    
    .compose-form {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .compose-form input {
        border: none;
    }
    
    .compose-form p {
        padding: 0;
        margin: 5px;
        padding-bottom: 1px;
    }
    
    .form-header {
        height: 25px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .form-header i {
        margin: 0;
        font-size: 1.05rem;
        color: rgba(245, 240, 245, 0.93);
        margin-right: 5px;
    }
    
    .form-header h4 {
        margin: 0;
        color: rgba(245, 240, 245, 0.93);
        margin-left: 2px;
    }
    
    .to-input input {
        width: 90%;
    }
    
    .to-input {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        width: 98%;
        margin-left: 5px;
        border-bottom: solid rgb(146, 151, 126) 1px;
    }
    
    .subject-input {
        display: flex;
        width: 98%;
        margin-left: 5px;
        border-bottom: solid rgb(146, 151, 126) 1px;
        margin-bottom: 5px;
    }
    
    .subject-input input {
        width: 90%;
    }
    
    .send-btn {
        max-width: 100px;
        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: rgba(146, 151, 126, 0.26);
        color: rgb(68, 69, 69);
        font-weight: bolder;
        cursor: pointer;
    }
 
    
    .yellow {
        color: yellow;
    }
    
    .mail-filter {
        height: 94.1px;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    
    .search-input {
        margin-top: 37px;
        border-radius: 5px;
        height: 20px;
        width: 80%;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(68, 69, 69);
        align-items: baseline;
    }
    
    .nav-bar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 131px;
        height: 70px;
        text-align: center;
        color: white;
    }
    
    .status {
        margin: auto;
        width: 100px;
    }
    
    .mail-details-container {
        margin-top: 94.1px;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-inline-start: 40px;
    }
    
    .mail-details-container hr {
        width: 794px;
    }
    
    .side-menu-list button {
        height: 40px;
        width: 110px;
        border-radius: 10px;
        background-color: rgba(146, 151, 126, 0.26);
        color: rgb(68, 69, 69);
        font-size: 1.2rem;
        font-weight: bolder;
        cursor: pointer;
    }
    
    @media (max-width:800px) {
        .mail-prev {
            flex-direction: column;
            align-items: flex-start;
        }
        i.fa-bars {
            display: block;
            margin-top: 20px;
            margin-left: 20px;
        }
        .data-sent {
            margin-left: 5px;
        }
        .mail-budy-prev-txt {
            flex-direction: column;
            margin-left: 5px;
        }
        .mail-prev p {
            align-self: flex-start;
        }
        .side-menu {
            display: none;
            position: absolute;
            width: 40%;
            background-color: rgb(146, 151, 126);
        }
        .shown {
            display: block;
        }
        .mail-filter {
            height: 50px;
        }
        .search-input {
            margin-top: 0px;
        }
    }